<!--TODO: this should be call dialog?-->
<template name="mdlUiPageLayout">
  <div>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100">
      <header class="mdl-layout__header">
        <button class="back mdl-layout-icon mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">arrow_back</i>
        </button>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{{title}}</span>
            {{#if menuItemsDropDown}}
                {{>mdlUiPageLayoutMenuItems}}
            {{/if}}
            {{#unless menuItemsDropDown}}
                {{>mdlUiPageLayoutSimpleMenuItems}}
            {{/unless}}
        </div>
      </header>
        {{>yield}}
    </div>
  </div>
</template>

<template name="mdlUiPageLayoutSimpleMenuItems">
    {{#if menuItems}}
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
          {{#each menuItems}}
            <button class="action mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">{{icon}}</i>
            </button>
          {{/each}}
      </nav>
    {{/if}}
</template>

<template name="mdlUiPageLayoutMenuItems">
    {{#if menuItems}}
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <button id="app-layout--menu" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="app-layout--menu">
            {{#each menuItems}}
              <li class="mdl-menu__item">
                  {{#if icon}}
                    <!--TODO: external style-->
                    <i class="material-icons" style="vertical-align: middle">{{icon}}</i>
                  {{/if}}
                  {{label}}
              </li>
            {{/each}}
        </ul>
      </nav>
    {{/if}}
</template>
