// import these generic styles from any stylus file with:
// @import '{kctang:mdl-ui}/mdl-ui.styl'

list-card()
  background-color #46B6AC
  background-position center
  background-size cover

list-card-icon()
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, .1);
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  line-height: 18px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.8);

