.mdl-ui-section
  .header
    display flex
    border-bottom 1px solid rgba(0,0,0, 0.12)

    .title
      align-self center // align with icon
      color rgb(63,81,181)
      font-size 12px
      font-weight bold

    .material-icons
      font-size 16px
      font-weight bold

  .label
    align-self center
    font-size 12px
    color rgba(0,0,0, 0.24)

  > div.mdl-grid > div.content-header.mdl-cell
    margin 8px 8px 0 0
    border-right 1px solid rgba(0,0,0, 0.12)

  > div.mdl-grid > div.content.mdl-cell
    margin-right 8px
    border-right 1px solid rgba(0,0,0, 0.12)
    border-bottom 1px solid rgba(0,0,0, 0.12)

  .section.material-icons
    font-size 16px

  .overlay-wrapper
    position relative
    z-index 0

  .overlay
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index 1000
    background-color rgba(0,0,0, 0.12)
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANUlEQVQYV2NkIAIwEqGGAVmRMQMDw1kkTXA+ukkwCRQN2KxDNxHFOpBNBE0i2k1YPUtUEAAAuEUJCv1Qk8kAAAAASUVORK5CYII=')
    background-repeat repeat

// TODO blur background
//http://codepen.io/ariona/pen/geFIK

/*
button.mdl-button--icon:active
  transform rotate(90deg)
  transition: .5s ease all

button.mdl-button--icon
  transform rotate(-90deg)
  transition: .5s ease all
*/
