.mdl-ui-form
    .button-row
        display flex
        flex-direction row-reverse
        align-items center
    .mdl-grid
        //keep grid content vertically aligned to top
        align-content flex-start
