<template name="mdlUiAppLayout">
    <div>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title">{{title}}</span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>

                    {{#if menuItems}}
                        <nav class="mdl-navigation">
                            <button id="app-layout--menu" class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                for="app-layout--menu">
                                {{#each menuItems}}
                                    <li class="mdl-menu__item">{{label}}</li>
                                {{/each}}
                            </ul>
                        </nav>
                    {{/if}}

                </div>
            </header>
            <div class="mdl-layout__drawer">
                {{> Template.dynamic template=drawerTemplate}}
            </div>
            {{>yield}}
        </div>
    </div>
</template>
