html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

*:not(input) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

*:not(textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body, #root {
    height: 100%;
}

div.mdl-layout__drawer span.mdl-layout-title {
    padding: 0;
}
